<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		
		<div class="col-sm-4 clearfix">
		<h5>Levent Burak Kara</h5>
		Mechanical Engineering Department<br/>
		Scaife Hall 343<br/>
		Carnegie Mellon University<br/>
		5000 Forbes Avenue<br/>
		Pittsburgh, PA 15213<br/>
		(412) 268-2509  | lkara@cmu.edu<br/>
		(<a href="https://goo.gl/maps/bR9kgPgHVzqxj6X29">Map</a>, <a href="https://www.cmu.edu/visit/maps-parking-transportation.html">Directions</a>)
		</div>

		<div class="col-sm-4 clearfix">
		<a href="https://www.linkedin.com/in/lkara">LinkedIn</a><br/>
		<a href="https://scholar.google.com/citations?user=_X2eOeQAAAAJ&hl=en">Google Scholar</a><br/>
		<a href="https://www.researchgate.net/profile/Levent-Kara">ResearchGate</a><br/>
		<a href="https://orcid.org/0000-0002-2203-4020">Orcid</a><br/>
		</div>
	
		<div class="col-sm-4 clearfix">
        <p>We are part of the <a href="https://www.meche.engineering.cmu.edu">Mechanical Engineering</a> at <a href="https://www.cmu.edu">Carnegie Mellon University</a>.</p> 
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
